* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    width: 100vw;
}


.nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    z-index: 2;
}

.nav__logo {
    color: #335576;
    font-size: 0.9rem;
}

.nav__list {
    width: 14rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.78rem;
    flex-wrap: wrap;
}

.nav__item {
    line-height: 1.55;
    color: black;
}


.nav__item--active {
    text-decoration: underline solid #DB7A4E 0.15rem;
    text-underline-offset: 0.3rem;
}

.nav__item:hover {
    background-color: antiquewhite;
}


.footer {
    background-color: #FEFAF5;
    padding: 0 9rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: #335576;
    flex-wrap: wrap;
    box-sizing: content-box;
    align-content: stretch;
    height: fit-content;
}

.footer__section {
    display: flex;
    flex-direction: column;
    min-height: 5rem;
    height: fit-content;
    box-sizing: content-box;
    justify-content: space-between;
    margin: 2.5rem 0;
}

.footer__title {
    font-size: 1.2rem;
}

.footer__content {
    height: fit-content;
    margin-right: 1.25rem;
}


.footer__hours {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.footer__info {
    font-size: 0.78rem;
}

.footer__subtitle {
    color: #DB7A4E;
    font-size: 0.49rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.6rem 0;
}

.footer__info--email {
    color: #335576;
}

.footer__info--email:hover {
    text-decoration: underline 1px #DB7A4E;
}

.footer__icon {
    height: 1.2rem;
}

.footer__social {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
    box-sizing: content-box;
}