* {
    color: #335576;
}

.hero {
    background-color: #FEFAF5;
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem 3.438rem;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    row-gap: 2.188rem;
    margin-top: 2.5rem;
}

.hero__img--wrap {
    display: flex;
    align-items: center;
}

.hero__img {
    max-height: 18.75rem;
}

.hero__context {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.9rem;
}

.hero__slogan {
    font-size: 1.875rem;
}

.hero__info {
    font-size: 0.75rem;
}

.hero__btn {
    background-color: #DB7A4E;
    display: flex;
    width: 8rem;
    height: 1.8rem;
    font-size: 0.813rem;
    font-weight: 100;
    color: white;
    border-radius: 1.25rem;
    justify-content: center;
    align-items: center;
}

.hero__btn:hover {
    opacity: 0.8;
}

.destinations {
    display: flex;
    flex-wrap: wrap;
    min-height: 26.25rem;
    padding: 2rem 3.4rem;
    box-sizing: content-box;
    row-gap: 1rem;
}

.destinations__title {
    font-size: 1.2rem;
}

.destinations__card--wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
    row-gap: 1rem;
}

.destinations__card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    width: 11.875rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.75rem 1.25rem;
}

.destinations__card:hover {
    opacity: 0.8;
}

.destinations__name {
    color: white;
}

.destinations__hawaii {
    background-image: url(../assets/Images/hawaii.jpg);
}

.destinations__greece {
    background-image: url(../assets/Images/greece.jpg);

}

.destinations__iceland {
    background-image: url(../assets/Images/iceland.jpg);
}