.banner {
    background-position: center;
    background-size: cover;
    min-height: 40rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    background-color: #FEFAF5;
    justify-content: space-evenly;
    gap: 2.188rem;
    margin-top: 2.5rem;
}

.register {
    width: 28rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
    color: #335576;
}

.register__title {
    font-size: 1.5rem;
}

.register__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.register__item {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.register__item-box {
    min-height: 1.5rem;
    border: solid 0.01rem #335576;
    border-radius: 0.8rem;
    opacity: 0.7;
    padding: 0.8rem;
}

.register__item-box:hover {
    opacity: 1;
}

.register__submit {
    color: #335576;
}

.register__submit:hover {
    cursor: pointer;
}


.register__img-wrap {
    display: flex;
    align-items: center;
}

.register__img {
    height: 12.5rem;
}